@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  color-scheme: light dark;
  color: text;
  background-color: bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  @apply p-0 m-0 text-text text-base sm:text-lg md:text-xl;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav-header a {
  @apply p-4 no-underline;
}

.modal-class a {
  @apply text-gray-400 hover:text-white transition-colors duration-300 py-4 hover:bg-[#14487d] block text-sm sm:text-base;
}

/* modal-active to simulate navlink-isactive for smaller devices */
.modal-class .modal-active {
  @apply text-white;
}

.heading {
  @apply text-3xl md:text-4xl font-bold mb-2 text-primary;
}

/* entrance */
.modal-animation {
  animation: fade-slide-in 0.3s linear forwards;
  opacity: 0;
}

.modal-animation:nth-child(2) {
  animation-delay: 0.2s;
}

.modal-animation:nth-child(3) {
  animation-delay: 0.3s;
}

.modal-animation:nth-child(4) {
  animation-delay: 0.4s;
}

.modal-animation:nth-child(5) {
  animation-delay: 0.5s;
}
@keyframes fade-slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* exit */
.modal-exit {
  animation: fade-slide-out 0.3s linear forwards;
}

.modal-exit:nth-child(1) {
  animation-delay: 0.5s;
}
.modal-exit:nth-child(2) {
  animation-delay: 0.4s;
}

.modal-exit:nth-child(3) {
  animation-delay: 0.3s;
}

.modal-exit:nth-child(4) {
  animation-delay: 0.2s;
}

.modal-exit:nth-child(5) {
  animation-delay: 0.1s;
}
@keyframes fade-slide-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.swiper-slide-thumb-active {
  border: 4px solid #16a085;
  border-radius: 8px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #d9d7d7;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  padding: 20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: azure;
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 15px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  transform: scale(0.5);
  color: #16a085;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
  display: none;
}

/* for the browser bg color for autofill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
